#grid {
  /* width: 1200px;
     display:flexbox;*/
     margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 6 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 1px;
  background-color: black;
}
.scorediv {
  display: flex;
  justify-content: center;
  margin-right: 80px;
  border-width: 3px;
  background-color:silver;
  opacity: 50% ;
}